/*
Importation des fichiers de base 
*/
@import url(./base/variable.css);
@import url(./base/reset.css);

/*
Importation des fichiers de components 
*/
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/cards.css);
@import url(./components/carousels.css);
@import url(./components/modals.css);
@import url(./components/tooltips.css);

/*
Importation des fichiers de sections 
*/
@import url(./sections/presentation.css);
@import url(./sections/technical.css);
@import url(./sections/projects.css);
@import url(./sections/contact.css);

.gtm-iframe {
    display: none;
    visibility: hidden;
}